/* Global Styles */
:root {
  --primary: #F5CB5C;
  --secondary: #E8EDDF;
  --background: #001e2e;
  --background: #080807;
  --secondary-background: #4d7d9b;
  --secondary-background: #424242;
  --text-light: #FDF0D5;
  --text-dark: #333;
  --border: #424242;
  --osef: #fbbfa4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout Container */
.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000d13;
  padding: 10px 0;
}

.header nav {
  display: flex;
}

.header a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #444;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.3s;
}

.header a:hover {
  background-color: #666;
}

.header a.active {
  background-color: white;
  color: black;
  font-weight: bold;
}



body {
  background-color: var(--background);
  color: var(--text-light);
  margin: 0;
  padding: 0;
}


.top-container {
  display: flex;
  flex: 1;
}

.logo-container {
  flex: column;
  margin-left: 50px;
  font-size: 1.5em;
  color: #a600ff;
}

.title-container {
  flex: column;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: "calibri", sans-serif;
  color:var(--text-light);
}

.upper-viz {
  display: flex;
  flex: 1;
}

.left-viz {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right-viz {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.lower-viz {
  display: flex;
  flex: 1;
}

.center-viz {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}


/* Sidebar */
.sidebar {
  width: 150px;
  border-right: 2px solid #000;
  padding: 10px;
}

/* Content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Rows */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Boxes */
.box {
  flex: 1;
  border: 2px solid #000;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

.box.large {
  flex: 1;
  min-height: 150px;
}
